@media only screen and (max-width: 991px) {
  .navbar .logo {
    margin-left: 5px;
    padding: 10px; }
  .navbar .navbar-nav {
    display: none; }
  header {
    height: 520px; }
    header .header-content {
      margin-left: 5px;
      padding: 10px;
      margin-top: 50px;
      max-width: 100%; }
      header .header-content h1 {
        font-size: 1.6rem; }
      header .header-content p {
        font-size: 0.9rem; }
      header .header-content a {
        display: block;
        width: 80%;
        margin: 10px 0px; }
  .about .about-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .about .about-container .about-content {
      max-width: 100%; }
      .about .about-container .about-content h1 {
        font-size: 1.6rem; }
      .about .about-container .about-content p {
        font-size: 0.9rem; }
      .about .about-container .about-content a {
        padding-left: 100px; }
        .about .about-container .about-content a:before {
          width: 90px; }
  .how-to-use h1:before {
    font-size: 2rem; }
  .how-to-use .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .how-to-use .container .step {
      width: 100%;
      margin: 15px auto; }
  .what-our-customer-say h1:before {
    display: none; }
  .what-our-customer-say .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .what-our-customer-say .container .illustration img {
      max-width: 320px; }
    .what-our-customer-say .container .content {
      max-width: 100%; }
    .what-our-customer-say .container h5 {
      font-size: 2rem; }
    .what-our-customer-say .container p {
      font-size: 0.9rem; }
  section.get-started a {
    display: block;
    margin: 15px auto;
    width: 200px; } }
