@media only screen and (max-width: 991px){
    .navbar {
        .logo {
            margin-left: 5px;
            padding: 10px;
        }
        .navbar-nav {
            display: none;
        }
    }
    header {
        height: 520px;
        .header-content {
            margin-left: 5px;
            padding: 10px;
            margin-top: 50px;
            max-width: 100%;
            h1 {
                font-size: 1.6rem;
            }
            p {
                font-size: 0.9rem;
            }
            a {
                display: block;
                width: 80%;
                margin: 10px 0px;
            }
        }
    }
    .about {
        .about-container {
            flex-wrap: wrap;
            .about-content {
                max-width: 100%;
                h1 {
                    font-size: 1.6rem;
                }
                p {
                    font-size: 0.9rem;
                }
                a {
                    padding-left: 100px;
                    &:before {
                        width: 90px;
                    }
                }
            }
        }
    }
    .how-to-use {
        h1 {
            &:before {
                font-size: 2rem;
            }
        }
        .container {
            flex-wrap: wrap;
            .step {
                width: 100%;
                margin: 15px auto;
            }
        }
    }
    .what-our-customer-say {
        h1 {
            &:before {
               display: none;
            }
        }
        .container {
            flex-wrap: wrap;
            .illustration {
                img {
                    max-width: 320px;
                }
            }
            .content {
                max-width: 100%;
            }
            h5 {
                font-size: 2rem;
            }
            p {
                font-size: 0.9rem;
            }
        }
    }
    section.get-started {
        a {
            display: block;
            margin: 15px auto;
            width: 200px;
        }
    }
}
