// Global Settings
$dark-orange: #B26F0E;
$white-orange: #FFBB5A;
$orange: #FFA627;
$black: #000;
$white: #fff;
$nunito: 'Nunito', sans-serif;
html,
body {
    font-family: $nunito;
    padding:0;
    margin:0;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-left: 80px;
    }
    .navbar-nav {
        margin-right: 80px;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin: auto 30px;
                position: relative;
                padding-bottom: 3px;
                &:before {
                    content: '';
                    position: absolute;
                    left:0;
                    bottom:0;
                    height: 1px;
                    width: 0px;
                    background-color: $orange;
                    transition: .3s ease-in width;
                }
                &:not(.sign-up):hover {
                    &:before {
                        width: 100%;
                    }
                }
                a {
                    text-decoration: none;
                    color: $black;
                    font-weight: 600;
                }
                &.sign-up {
                   a {
                        padding: 10px; 
                        border-radius: 5px;
                        background-color: $orange;
                        color: $white;
                        display: inline-block;
                        width: 80px;
                        text-align: center;
                        box-shadow: 0px 2px 14px rgba(0,0,0, .15);
                        transition: .3s all;
                        &:hover {
                            box-shadow: 4px 4px 14px rgba(0,0,0, .15);
                        }
                   }
                }
            }
        }
    }
}
header {
    position: relative;
    height: 600px;
    .header-content {
        margin-left: 80px;
        margin-top: 100px;
        max-width: 40%;
        h1 {
            font-weight: bold;
            margin-bottom:0;
            font-size: 2rem;
        }
        p {
            line-height: 1.6em;
        }
        a {
            display: inline-flex;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            width: calc(50% / 2 - 1%);
            span {
                font-weight: 600;
            }
            &.get-started {
                padding: 15px;
                background: $orange;
                color: $white;
                align-items: center;
                justify-content: center;
                span {
                    color: $white;
                    margin-left: 5px;
                }
            }
            &.watch-demo {
                border: 2px solid $white-orange;
                padding: 13px;
                span {
                    color: $orange;
                    margin-left: 5px;
                }
            }
        }
    }
    .header-illustartion {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: -1;
        opacity: 0.9;
    }
}
.about {
    margin: 150px auto;
    .about-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 80px;
        .about-content {
            margin: auto;
            max-width: 60%;
            h1 {
                font-size: 2rem;
                margin-bottom: 0;
            }
            p {
                line-height: 1.6em;
                font-size: 1.1rem;
            }
            a {
                color: $orange;
                text-decoration: none;
                font-weight: 600;
                padding-left: 150px;
                position: relative;
                transition: .3s all;
                display: block;
                &:before {
                    content: '';
                    position: absolute;
                    left:0;
                    bottom: 50%;
                    transform: translateY(50%);
                    width: 145px;
                    background: $orange;
                    height: 1px;
                    transition: .3s;
                }
                &:hover {
                    color: $dark-orange;
                    padding-left: 75px;
                    &:before {
                        width: 65px;
                        background: $dark-orange;
                    }
                }
            }
        }
    }
}
.how-to-use {
    margin: 200px auto;
    h1 {
        text-align: center;
        position: relative;
        margin-bottom: 70px;
        &:before {
            content: 'How To Use';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.4;
            color: $orange;
            font-size: 3rem;
        }
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto 80px;
        .step {
            width: calc(100% / 3 - 1%);
            margin: auto;
            text-align: center;
            img {
                max-width: 128px;
            }
            h5 {
                font-size: 1.3rem;
                font-weight: 600;
                margin: 0;
                margin-top: 10px;
            }
        }
    }
}
.what-our-customer-say {
    h1 {
        text-align: center;
        position: relative;
        margin-bottom: 70px;
        &:before {
            content: 'What Our Customer Say';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.4;
            color: $orange;
            font-size: 3rem;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px 80px;
        justify-content: space-around;
        .illustration {
            flex: 1;
            text-align: center;
            img {
                max-width: 400px;
                margin: auto;
            }
        }
        .content {
            flex: 1;
            padding: 10px;
            max-width: 60%;
            h5 {
                font-size: 2.3rem;
                margin-bottom: 15px;
                color: $orange;
            }
            p {
                font-size: 1.1rem;
                line-height: 1.6em;
            }
            .indicators {
                margin-top: 25px;
                margin: auto;
                text-align: center;
            }
        }
    }
}
section.get-started {
    padding: 100px;
    margin-top: 100px;
    text-align: center;
    background-color: #f6f9fd;
    h1 {
        margin:0;
    }
    p {
        font-size: 1.1rem;
    }
    a {
        display: inline-flex;;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        width: calc(50% / 2 - 1%);
        span {
            font-weight: 600;
        }
        &.get-started {
            padding: 15px;
            background: $orange;
            color: $white;
            align-items: center;
            justify-content: center;
            span {
                color: $white;
                margin-left: 5px;
            }
            
        }
        &.watch-demo {
            border: 2px solid $white-orange;
            padding: 13px;
            text-align: center;
            align-items: center;
            justify-content: center;
            span {
                color: $orange;
                margin-left: 5px;
            }
        }
    }
}
footer {
    padding: 10px;
    text-align: center;
    background: $orange;
    color: $white;
    font-weight: bold;
    a {
        color: #444f60;
        text-decoration: none;
    }
}
